@model IEnumerable<Cinema_laboratory2.Models.Ticket>

@{
    ViewData["Title"] = "Список квитків";
}

<h1>Список квитків</h1>

<a class="btn btn-success mb-3" asp-action="Create">Створити новий квиток</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ціна</th>
            <th>Номер місця</th>
            <th>Сеанс ID</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Price</td>
                <td>@item.SeatNumber</td>
                <td>@item.SessionId</td> <!-- лише ID -->
                <td>
                     <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Редагувати</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline">
                        <button class="btn btn-danger" type="submit">Видалити</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
